<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.delivery.mapper.StoreMapper">

	<select id="idcheck" parameterType="String" resultType="Integer">

		select
		count(*) from b_store_tbl where store_id=#{store_id}

	</select>

	<insert id="storeRegister"
		parameterType="com.springboot.delivery.model.Store">
		insert into b_store_tbl (
		store_id,
		store_name,
		store_address,
		last_price,
		owner_id,
		main_category_Id,
		store_phone,
		store_openHour,
		delivery_fee,
		delivery_time,
		made_in,
		store_image_name
		)
		values (
		#{store_id},
		#{store_name},
		#{store_address},
		#{last_price},
		#{owner_id},
		#{main_category_Id},
		#{store_phone},
		#{store_openHour},
		#{delivery_fee},
		#{delivery_time,jdbcType=VARCHAR},
		#{made_in},
		#{store_image_name}
		)
	</insert>

	<select id="storeList" parameterType="String"
		resultType="com.springboot.delivery.model.Store">
		select
		store_id,
		store_name,
		last_price,
		delivery_fee,
		store_image_name,
		NVL(store_status, 1) as store_status
		from b_store_tbl
		where owner_id = #{owner_id}
	</select>

	<delete id="deleteOptionsByStoreId" parameterType="String">

		delete from
		b_option_tbl where store_id = #{store_id}

	</delete>

	<delete id="deleteOptionGroupsByStoreId" parameterType="String">

		delete
		from b_option_group_tbl where store_id = #{store_id}

	</delete>

	<delete id="deleteMenuItemByStoreId" parameterType="String">

		delete from
		b_menu_item_tbl where store_id = #{store_id}

	</delete>

	<delete id="deleteMenuCategoryByStoreId" parameterType="String">

		delete
		from b_menu_category_tbl where store_id = #{store_id}

	</delete>

	<delete id="deleteReviewsByStoreId" parameterType="String">

		DELETE FROM
		b_review_tbl WHERE store_id = #{store_id}

	</delete>

	<delete id="deleteOrderDetailsByStoreId" parameterType="String">
		DELETE
		FROM b_order_detail_tbl WHERE store_id = #{store_id}
	</delete>

	<!-- 사용한 쿠폰 삭제 -->
	<delete id="deleteUsedCouponsByStoreId" parameterType="String">
		DELETE
		FROM b_used_coupon_tbl
		WHERE STORE_COUPON_ID IN (
		SELECT STORE_COUPON_ID
		FROM b_store_coupon_tbl
		WHERE STORE_ID = #{storeId}
		)

	</delete>

	<!-- 사용자 쿠폰 삭제 -->
	<delete id="deleteUserCouponsByStoreId" parameterType="String">
		DELETE
		FROM b_user_coupon_tbl
		WHERE STORE_COUPON_ID IN (
		SELECT STORE_COUPON_ID
		FROM b_store_coupon_tbl
		WHERE STORE_ID = #{storeId}
		)
	</delete>

	<!-- 사업자 쿠폰 삭제 -->
	<delete id="deleteOwnerCouponsByStoreId" parameterType="String">
		DELETE
		FROM b_owner_coupon_tbl WHERE store_id = #{store_id}
	</delete>

	<!-- 즐겨찾기 삭제 -->
	<delete id="deleteBookmarksByStoreId" parameterType="String">
		DELETE FROM
		b_bookmark_tbl WHERE store_id = #{store_id}
	</delete>

	<delete id="deleteStoreByStoreId"
		parameterType="com.springboot.delivery.model.Store">

		delete from b_store_tbl where store_id=#{store_id}

	</delete>

	<select id="getStore" parameterType="String"
		resultType="com.springboot.delivery.model.Store">
		SELECT store_id, store_name, owner_id, store_address,
		store_phone,
		store_openHour, last_price, delivery_fee,
		store_image_name,
		main_category_id, made_in, delivery_time,
		NVL(store_status, 1) as store_status
		FROM b_store_tbl
		WHERE store_id =
		#{store_id}
	</select>

	<update id="updateStore"
		parameterType="com.springboot.delivery.model.Store">

		update b_store_tbl set store_name=#{store_name},
		store_address=#{store_address}, last_price=#{last_price},
		main_category_Id=#{main_category_Id}, store_phone=#{store_phone},
		store_openHour=#{store_openHour}, delivery_fee=#{delivery_fee},
		made_in=#{made_in}, store_image_name=#{store_image_name} where
		store_id=#{store_id}

	</update>

	<select id="getAllMenu" parameterType="String"
		resultType="com.springboot.delivery.model.MenuCategory">

		select menu_category_id,menu_category_name from
		b_menu_category_tbl where
		store_id=#{store_id}

	</select>

	<insert id="insertMenu"
		parameterType="com.springboot.delivery.model.MenuCategory">

		insert into b_menu_category_tbl
		values(#{menu_category_id},
		#{menu_category_name}, #{store_id})

	</insert>

	<select id="getMaxMenuCount" resultType="Integer">

		SELECT
		MAX(menu_category_id) FROM b_menu_category_tbl

	</select>

	<insert id="menuRegister"
		parameterType="com.springboot.delivery.model.MenuItem">

		insert into b_menu_item_tbl
		values(#{menu_item_id},#{menu_name},#{menu_category_id},#{store_id},#{price},#{image_name},#{content})

	</insert>

	<select id="getMenuCount" resultType="Integer">

		select max(menu_item_id)
		from b_menu_item_tbl

	</select>

	<select id="getMenuList"
		resultType="com.springboot.delivery.model.MenuItem">

		select * from b_menu_item_tbl where store_id=#{store_id}

	</select>

	<delete id="deleteMenu"
		parameterType="com.springboot.delivery.model.MenuItem">

		delete from b_menu_item_tbl where store_id=#{store_id}
		and
		menu_item_id=#{menu_item_id}

	</delete>

	<select id="menuDetail"
		resultType="com.springboot.delivery.model.MenuItem"
		parameterType="com.springboot.delivery.model.MenuItem">

		select * from b_menu_item_tbl where store_id=#{store_id}
		and
		menu_item_id=#{menu_item_id}

	</select>

	<update id="menuModify"
		parameterType="com.springboot.delivery.model.MenuItem">
		update b_menu_item_tbl set menu_name=#{menu_name},
		price=#{price},
		content=#{content},
		image_name=#{image_name} where
		store_id=#{store_id} and menu_item_id=#{menu_item_id}
	</update>

	<insert id="addOption"
		parameterType="com.springboot.delivery.model.OptionCategory">

		insert into b_option_group_tbl
		values(#{option_group_id},
		#{option_group_name}, #{store_id},
		#{menu_item_id}, #{selection_type})

	</insert>

	<select id="getOptionGroupMax" resultType="Integer">

		select
		max(option_group_id) from b_option_group_tbl

	</select>

	<select id="getMenuItemOptionList"
		parameterType="com.springboot.delivery.model.OptionCategory"
		resultType="com.springboot.delivery.model.OptionCategory">

		select option_group_id, option_group_name, store_id,
		menu_item_id, selection_type from
		b_option_group_tbl where
		store_id=#{store_id} and
		menu_item_id=#{menu_item_id}

	</select>

	<insert id="addSubOption"
		parameterType="com.springboot.delivery.model.SubOption">

		insert into b_option_tbl values(#{option_id},
		#{option_name},
		#{option_price}, #{option_group_id}, #{store_id},
		#{menu_item_id})

	</insert>

	<select id="getSubOptionMax" resultType="Integer">

		select max(option_id)
		from b_option_tbl

	</select>

	<select id="getSubOptionList"
		resultType="com.springboot.delivery.model.OptionSet">

		SELECT o.option_id, o.option_name, o.option_price,
		o.store_id,
		o.menu_item_id, g.option_group_id, g.option_group_name
		FROM
		b_option_group_tbl g
		INNER JOIN b_option_tbl o ON g.option_group_id =
		o.option_group_id
		AND g.store_id = o.store_id
		AND g.menu_item_id =
		o.menu_item_id


	</select>

	<delete id="categoryDelete" parameterType="Integer">
		delete from
		b_menu_category_tbl where menu_category_id=#{menu_category_id}
	</delete>

	<delete id="categoryMenuDelete" parameterType="Integer">
		delete from
		b_menu_Item_tbl where menu_category_id=#{menu_category_id}
	</delete>

	<update id="categoryNameUpdate"
		parameterType="com.springboot.delivery.model.MenuCategory">
		update b_menu_category_tbl
		set
		menu_category_name=#{menu_category_name}
		where
		menu_category_id=#{menu_category_id}
	</update>

	<select id="getCategory" parameterType="String"
		resultType="String">
		select menu_category_name from b_menu_category_tbl where
		store_id=#{store_id}
	</select>

	<select id="getMenuName" parameterType="String"
		resultType="String">
		select menu_name from b_menu_item_tbl where
		store_id=#{store_id}
	</select>

	<delete id="deleteSubOption"
		parameterType="com.springboot.delivery.model.OptionSet">

		delete from b_option_tbl where store_id = #{store_id}
		and menu_item_id = #{menu_item_id} and option_id=#{option_id}
		and
		option_group_id = #{option_group_id}

	</delete>

	<select id="getUpdateSubOptionTarget"
		parameterType="com.springboot.delivery.model.OptionSet"
		resultType="com.springboot.delivery.model.OptionSet">

		select option_id, option_name, option_price,
		option_group_id,store_id,menu_item_id from b_option_tbl
		where store_id
		= #{store_id} and menu_item_id = #{menu_item_id} and
		option_id =
		#{option_id}
		and option_group_id = #{option_group_id}


	</select>

	<update id="updateSubOption"
		parameterType="com.springboot.delivery.model.OptionSet">

		update b_option_tbl set option_name = #{option_name},
		option_price=#{option_price}
		where store_id = #{store_id} and
		menu_item_id = #{menu_item_id} and
		option_id = #{option_id}
		and
		option_group_id = #{option_group_id}

	</update>

	<update id="updateOptionCategory"
		parameterType="com.springboot.delivery.model.OptionCategory">

		update b_option_group_tbl set option_group_name =
		#{option_group_name},
		selection_type = #{selection_type}
		where store_id
		= #{store_id} and menu_item_id = #{menu_item_id} and
		option_group_id =
		#{option_group_id}

	</update>

	<delete id="deleteSubOptionByGroupId"
		parameterType="com.springboot.delivery.model.OptionCategory">

		delete from b_option_tbl where store_id = #{store_id}
		and menu_item_id =
		#{menu_item_id} and option_group_id =
		#{option_group_id}

	</delete>

	<delete id="deleteOptionCategory"
		parameterType="com.springboot.delivery.model.OptionCategory">

		delete from b_option_group_tbl where store_id =
		#{store_id} and menu_item_id
		= #{menu_item_id} and option_group_id =
		#{option_group_id}

	</delete>

	<update id="updateStoreStatus">
		UPDATE b_store_tbl
		SET store_status = #{status}
		WHERE
		store_id = #{storeId}
	</update>

	<select id="getCountMenuFromStore" parameterType="String"
		resultType="Integer">

		select count(menu_item_id) from b_menu_item_tbl where
		store_id=#{store_id}


	</select>

	<select id="getRatingFromStore" parameterType="String"
		resultType="com.springboot.delivery.model.Rating">

		select sum(rating) as sum, count(rating) as count from
		b_review_tbl where
		store_id=#{store_id}


	</select>

	<select id="getTodayOrderCountByStore" parameterType="String"
		resultType="Integer">
		SELECT COUNT(o.order_id)
		FROM b_order_tbl o
		JOIN
		b_order_detail_tbl od ON o.order_id = od.order_id
		WHERE
		TRUNC(o.order_time) = TRUNC(SYSDATE)
		AND od.store_id = #{store_id}
	</select>

	<select id="getTodayOrderTotalByStore" parameterType="String"
		resultType="Integer">
		SELECT SUM(od.totalprice)
		FROM b_order_detail_tbl od
		JOIN
		b_order_tbl o ON od.order_id = o.order_id
		WHERE TRUNC(o.order_time) =
		TRUNC(SYSDATE)
		AND od.store_id = #{store_id}
	</select>

	<select id="getStoreStatus" parameterType="String"
		resultType="map">
		SELECT
		s.store_id AS STORE_ID,
		s.store_name AS STORE_NAME,
		COUNT(DISTINCT od.order_id) AS ORDER_COUNT,
		NVL(ROUND(AVG(r.rating),
		1), 0) AS AVG_RATING
		FROM
		b_store_tbl s
		LEFT JOIN
		b_order_detail_tbl od ON
		s.store_id = od.store_id
		LEFT JOIN
		b_review_tbl r ON s.store_id =
		r.store_id
		WHERE
		s.owner_id = #{owner_id}
		GROUP BY
		s.store_id,
		s.store_name
	</select>

	<delete id="deleteReplyByStoreId" parameterType="String">

		delete from
		b_reply_tbl where store_id = #{store_id}

	</delete>

	<delete id="deleteStoreCouponsByStoreId" parameterType="String">
		DELETE
		FROM b_store_coupon_tbl
		WHERE STORE_ID = #{storeId}
	</delete>

	<delete id="deleteOrderQuantitiesByStoreId"
		parameterType="String">
		DELETE FROM order_quantity_tbl
		WHERE order_id IN (
		SELECT
		order_id
		FROM b_order_detail_tbl
		WHERE STORE_ID = #{storeId}
		)
	</delete>

	<delete id="deleteOrderOptionsByStoreId" parameterType="String">
		DELETE
		FROM order_option_tbl
		WHERE menu_item_id IN (
		SELECT menu_item_id
		FROM
		b_menu_item_tbl
		WHERE STORE_ID = #{storeId}
		)
	</delete>



	<delete id="deleteOrdersByStoreId" parameterType="String">
		DELETE FROM b_order_tbl
		WHERE ORDER_ID IN (
		SELECT ORDER_ID
		FROM b_order_detail_tbl
		WHERE STORE_ID = #{storeId}
		)
	</delete>
	
	<update id="clearOrderCouponReferences" parameterType="String">
    UPDATE b_order_tbl
    SET USER_CP_ID = NULL
    WHERE ORDER_ID IN (
        SELECT ORDER_ID
        FROM b_order_detail_tbl
        WHERE STORE_ID = #{storeId}
    )
</update>






</mapper>